*.class
target/
out/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# IDEA File #
.idea/
*.iml



# latex
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.gz

# latex
**/*.aux
**/*.log
**/*.out
**/*.gz
**/*.toc
**/*.rel
